header{
	width: 100%;
	height: 40px;
	background-color: #3253b8;
	padding: 0 10px;
	display: flex;
	align-items: center;
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
}

.mam-logoImg {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../assets/images/IconoOCMblanco.png') no-repeat center center;
  // TODO ! No funciona.
  // http://www.techmonks.org/angular-alias-paths/
  // añadido en tsconfig.json
  // background: url('@images/IconoOCMblanco.png') no-repeat center center;
  background-size: contain;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.mam-logoHome {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../assets/images/home1.png') no-repeat center center;
  background-size: contain;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.mam-logoText {
  color: white;
  font-size: 12px;
  font-weight: bold
}

.mam-logoImg:hover{
  transform: scale(1.1);
}

