<header>
	<a href="http://ocmjerez.org" target="_blank">
		<span class="mam-logoImg"></span>
		<span class="mam-logoText">Observatorio Ciudadano Municipal de Jerez</span>
		<!-- <span class="mam-logoText">OCM</span> -->
	</a>
	<span class="mam-titulo">Contratos menores licitados por el Ayuntamiento de Jerez. Mes de junio 2021</span>

	<!-- <i class="fa fa-home homeOCM"></i> -->
	<!-- <div class="flex-shrink-1"> -->
	<a routerLink="/" *ngIf="router.url !== '/home'">
		<span class="mam-logoHome"></span>
	</a>
	<!-- </div> -->
</header>