body {
	margin: 100px;
}

.mam-opciones {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	color: rgb(31, 14, 14);
	background-color: rgb(212, 201, 201);
}

.myButton {
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color: #3d94f6;
	border-radius: 6px;
	border: 1px solid #337fed;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #ffffff;
	height: 75px;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1570cd;
}
.myButton:hover {
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color: #1e62d0;
}
.myButton:active {
	position: relative;
	top: 1px;
}

$bright-color: #fff;
@mixin bottom {
	position: absolute;
	right: 0;
	left: 0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background: url('../../assets/images/plataforma.png');
	background-repeat: no-repeat;
	//  background-position: center;
	background-size: contain, cover;
	margin: auto;
	width: 950px;
	height: 300px;
	position: relative;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
	.container__info {
		@include bottom;
		bottom: 20%;
		display: flex;
		align-items: center;
		padding: 15px 1px;
		color: $bright-color;
		span {
			margin-right: 20px;
		}
		i {
			margin-right: 10px;
		}
	}

	.container__profile {
		background-color: #e4f2fd;
		display: flex;
		align-items: center;
		padding: 20px;
		@include bottom();
		bottom: 0;
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			object-position: center;
			object-fit: cover;
			margin-right: 10px;
		}
		h2 {
			color: #334454;
			font-size: 1.2rem;
		}
		p {
			color: #04324d;
			font-size: 1.2rem;
			margin-bottom: 15px;
			margin-top: 15px;
		}
		p b {
			font-style: italic;
		}
	}
}
