<div class="container">
	<div class="container__profile">
		<img src="../../../assets/img/IconoOCM.png" alt="ocm" />
		<div class="container__profile__text">
			<p>Los datos estan extraidos de la Plataforma de contratación del Estado.</p>
			<a href="https://bit.ly/3ggbyO5">Pagina de datos abiertos</a>
			<p>
				Se pueden observar problemas en los datos, por ejemplo: licitaciones repetidas, diferentes razones
				sociales para un mismo CIF y falta de cantidades en las adjudicaciones.
			</p>
		</div>
	</div>
</div>

<div style="margin: 50px; height: 300px">
	<div class="grid">
		<div class="col-12 bg-blue-700 text-white font-bold border-round flex justify-content-center text-3xl">
			Opciones para filtrar los datos</div>
	</div>

	<div class="grid">
		<div class="col-5 col-offset-1 border-solid flex justify-content-center text-xl">Selecciona fecha de inicio y
			fecha final
		</div>
		<div class="col-4 col-offset-1 border-solid flex justify-content-center text-xl">Selecciona un ente de la lista
		</div>
	</div>

	<div class="grid">
		<div class="col-5 col-offset-1 flex justify-content-center mt-2">
			<dp-date-picker #datePickerStart (onChange)="changeDatePickerStart($event)" theme="dp-material"
				[config]="config"></dp-date-picker>
			<dp-date-picker #datePickerEnd (onChange)="changeDatePickerEnd($event)" theme="dp-material"
				[config]="config">
			</dp-date-picker>
		</div>

		<div class="col-5 col-offset-1  mt-2">
			<!-- <h4>Ente selecionado => {{radioSel.label}}</h4><br> -->
			<div>
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let item of entesList">
						<input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}"
							(change)="onItemChange()" />
						{{item.label}}

					</li>
				</ul>
			</div>
			<!-- <h5>{{radioSelectedString}}</h5> -->
		</div>
	</div>
</div>

<div style="margin: 100px">
	<div class="grid">
		<div class="col-12 bg-blue-700 text-white font-bold border-round flex justify-content-center text-3xl">
			Opciones visualización de los datos
		</div>

		<div class="col-4 flex justify-content-center mt-2">
			<a (click)="porLicitacion()" class="myButton">Por licitación</a>
		</div>

		<div class="col-4 flex justify-content-center mt-2">
			<a (click)="porAdjudicatario()" class="myButton">Por empresa adjudicataria</a>
		</div>

		<div class="col-4 flex justify-content-center mt-2">
			<a (click)="graficos()" class="myButton">Gráficos</a>
		</div>
	</div>
</div>