body {
	margin: 100px;
}

ul {
	list-style: none;
}

$bright-color: #fff;
@mixin bottom {
	position: absolute;
	right: 0;
	left: 0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background: url("../../assets/img/plataforma.png");
	background-repeat: no-repeat;
	//  background-position: center;
	background-size: contain, cover;
	margin: auto;
	width: 950px;
	height: 300px;
	position: relative;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
	.container__info {
		@include bottom;
		bottom: 20%;
		display: flex;
		align-items: center;
		padding: 15px 1px;
		color: $bright-color;
		span {
			margin-right: 20px;
		}
		i {
			margin-right: 10px;
		}
	}

	.container__profile {
		background-color: #e4f2fd;
		display: flex;
		align-items: center;
		padding: 20px;
		@include bottom();
		bottom: 0;
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			object-position: center;
			object-fit: cover;
			margin-right: 10px;
		}
		h2 {
			color: #334454;
			font-size: 1.2rem;
		}
		p {
			color: #04324d;
			font-size: 1.2rem;
			margin-bottom: 15px;
			margin-top: 15px;
		}
		p b {
			font-style: italic;
		}
	}
}
