$color-primario: #da595e;
$color-obscuro: #484848;
$color-claro: #ffffff;

$OCM-colors: (
    primario: #da595e,
    obscuro: #515963,
    claro: #ffffff,
    navBarBackground: #1769aa,
    navBarDarkBackground: #303133,
    navBarText: hsl(355, 100%, 50%),
    table-th: #515963,
);

$fuente-principal: "Roboto", serif;
