<div class="wrapper">
	<div class="grid23">
		<span class="mam-opciones">Opciones visualización de los datos</span>
	</div>

	<div class="grid31">
		<div class="grid32">
			<ag-charts-angular style="height: 100%" [options]="options"></ag-charts-angular>
		</div>

		<div class="grid33">
			<app-importe></app-importe>
		</div>

		<div class="grid41">
			<app-suma-importes-por-rango></app-suma-importes-por-rango>
		</div>

		<div class="grid41">
			<app-por-typecode></app-por-typecode>
		</div>

		<div class="grid41">
			<app-suma-importes-por-typecode></app-suma-importes-por-typecode>
		</div>

		<div class="grid41">
			<app-por-subtypecode></app-por-subtypecode>
		</div>

		<div class="grid41">
			<app-suma-importes-por-subtypecode></app-suma-importes-por-subtypecode>
		</div>

		<div class="grid41">
			<app-por-resultcode></app-por-resultcode>
		</div>

		<div class="grid41">
			<app-suma-importes-por-resultcode></app-suma-importes-por-resultcode>
		</div>

		<div class="grid41">
			<app-por-procedurecode></app-por-procedurecode>
		</div>

		<div class="grid41">
			<app-suma-importes-por-procedurecode></app-suma-importes-por-procedurecode>
		</div>

		<div class="grid41">
			<app-por-urgencycode></app-por-urgencycode>
		</div>

		<div class="grid41">
			<app-suma-importes-por-urgencycode></app-suma-importes-por-urgencycode>
		</div>
	</div>
</div>
