<app-header></app-header>
<div >
  <!-- <h4 class="mam-text-center"> Contratos menores licitados por el Ayuntamiento de Jerez.</h4> -->

  <button *ngIf="!isExpanded" type="button" class="btn btnExpand" (click)="expandAll()">Expandir todo</button>
  <button *ngIf="isExpanded" type="button" class="btn btnCollapse" (click)="collapseAll()">Colapsar todo</button>

  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="multiple"
    [groupSuppressAutoColumn]="true"
    [groupIncludeFooter]="true"
    [groupIncludeTotalFooter]="true"
    [groupHeaderHeight]="groupHeaderHeight"
    [headerHeight]="headerHeight"
    [suppressAggFuncInHeader] = "true"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
<app-footer></app-footer>