@import "/src/app/scss/variables";

.OCM-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: map-get($OCM-colors, navBarBackground);
  margin-bottom: 40px;
  &--brand {
    display: flex;
    justify-content: space-between;
    &--logo {
      height: 30px;
      width: 30px;
      vertical-align: middle;
      background: url("../../../assets/img/IconoOCMblanco.png") no-repeat center center;
      background-size: contain;
      margin-left: 20px;
      margin-right: 5px;
      margin-top: 5px;
      &:hover {
        transform: scale(1.2);
      }
    }
    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }
  &--titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

.OCM-logoHome {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../../assets/img/home.png") no-repeat center center;
  background-size: contain;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 5px;
}
