<div class="container">
	<div class="grid">
		<div class="col-12 bg-blue-700 text-white font-bold border-round flex justify-content-center text-3xl">
			Opciones visualización de los datos
		</div>

		<div class="col-1 col-offset-3 flex justify-content-center mt-2">
			<a (click)="graficosPorImporte()" class="myButton">Por importe</a>
		</div>

		<div class="col-1 col-offset-1 flex justify-content-center mt-2">
			<a (click)="graficosPorProcedimiento()" class="myButton">Por procedimiento</a>
		</div>

		<div class="col-1 col-offset-1 flex justify-content-center mt-2">
			<a (click)="graficosPorResultcode()" class="myButton">Resultado licitación</a>
		</div>
	</div>

	<div class="grid">
		<div class="col-1 col-offset-3 flex justify-content-center mt-2">
			<a (click)="graficosPorTypecode()" class="myButton">Tipología contratos</a>
		</div>

		<div class="col-1 col-offset-1 flex justify-content-center mt-2">
			<a (click)="graficosPorSubTypeCode()" class="myButton">Subtipo de contrato</a>
		</div>

		<div class="col-1 col-offset-1 flex justify-content-center mt-2">
			<a (click)="graficosPorUrgencyCode()" class="myButton">Tipo de tramitación</a>
		</div>
	</div>

</div>