<div style="margin: 100px; align-items: center">
	<div class="grid5x3">
		<div class="gridc1r1s5">
			<h1 class="mam-text-center">Opciones visualización de los datos</h1>
		</div>

		<div class="gridc2r2">
			<!-- <a href="/graficosPorImporte" class="myButton">Por importe</a> -->
			<a (click)="graficosPorImporte()" class="myButton">Por importe</a>
		</div>

		<div class="gridc3r2">
			<!-- <a href="/graficosPorProcedimiento" class="myButton">Por procedimiento</a> -->
			<a (click)="graficosPorProcedimiento()" class="myButton">Por procedimiento</a>
		</div>

		<div class="gridc4r2">
			<!-- <a href="/graficosPorResultcode" class="myButton">Resultado licitación</a> -->
			<a (click)="graficosPorResultcode()" class="myButton">Resultado licitación</a>
		</div>

		<div class="gridc2r3">
			<!-- <a href="graficosPorTypecode" class="myButton">Tipología contratos</a> -->
			<a (click)="graficosPorTypecode()" class="myButton">Tipología contratos</a>
		</div>

		<div class="gridc3r3">
			<!-- <a href="/graficosPorSubTypeCode" class="myButton">Subtipo de contrato</a> -->
			<a (click)="graficosPorSubTypeCode()" class="myButton">Subtipo de contrato</a>
		</div>

		<div class="gridc4r3">
			<!-- <a href="/graficosPorUrgencyCode" class="myButton">Tipo de tramitación</a> -->
			<a (click)="graficosPorUrgencyCode()" class="myButton">Tipo de tramitación</a>
		</div>
	</div>
</div>
