// Mis parciales.
// https://www.udemy.com/course/advanced-css-and-scss/learn/lecture/8274478#overview

@import "/src/app/scss/animations";
@import "/src/app/scss/base";
@import "/src/app/scss/functions";
@import "/src/app/scss/mixins";
@import "/src/app/scss/typography";
@import "/src/app/scss/utilities";
@import "/src/app/scss/variables";

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/legacy/ag-theme-balham-v22-compat.scss";

.OCM-app-root {
	width: 98vw;
	min-height: 96vh;
	display: grid;
	grid-template-rows: auto auto auto;
}

// #region @media screen
@media screen and (max-width: 1900px) {
	.ag-cell-value {
		font-size: 12px;
	}

	#home {
		font-size: 16px;
	}

	#logo {
		margin-top: 2px;
		width: 173px;
		height: 37px;
	}
	.textoLogo {
		margin-left: 2px;
		font-size: 20px;
	}

	.titulo {
		font-weight: 700 !important;
		margin-top: 20px;
		color: #f3f4f5;
		font-family: var(--fuente-principal);
		font-size: 28px;
		text-shadow: 2px 2px 2px rgb(10, 2, 2);
	}
}

@media screen and (max-width: 2000px) {
	.ag-header-cell-text {
		font-size: 12px;
	}

	.ag-cell-value {
		font-size: 12px;
	}

	#home {
		font-size: 14px;
	}

	#logo {
		margin-top: 2px;
		width: 173px;
		height: 37px;
	}
	.textoLogo {
		margin-left: 2px;
		font-size: 16px;
	}

	.titulo {
		font-weight: 700 !important;
		margin-top: 20px;
		color: #f3f4f5;
		font-family: var(--fuente-principal);
		font-size: 24px;
		text-shadow: 2px 2px 2px rgb(10, 2, 2);
	}
}

@media screen and (max-width: 1200px) {
	.ag-header-cell-text {
		font-size: 10px;
	}

	.ag-cell-value {
		font-size: 12px;
	}

	#home {
		font-size: 14px;
	}

	#logo {
		margin-top: 2px;
		width: 173px;
		height: 37px;
	}
	.textoLogo {
		margin-left: 2px;
		font-size: 16px;
	}

	.titulo {
		font-weight: 700 !important;
		margin-top: 20px;
		color: #f3f4f5;
		font-family: var(--fuente-principal);
		font-size: 24px;
		text-shadow: 2px 2px 2px rgb(10, 2, 2);
	}
}

@media screen and (max-width: 992px) {
	// MD Samsung Note apaisado
	.ag-header-cell-text {
		font-size: 12px;
	}

	.ag-cell-value {
		font-size: 10px;
	}

	#home {
		font-size: 12px;
	}

	#logo {
		margin-top: 2px;
		width: 173px;
		height: 37px;
	}
	.textoLogo {
		margin-left: 1px;
		font-size: 8px;
	}

	.titulo {
		font-weight: 600 !important;
		margin-top: 20px;
		color: #f3f4f5;
		font-family: var(--fuente-principal);
		font-size: 20px;
		text-shadow: 2px 2px 2px rgb(10, 2, 2);
	}
}

@media screen and (max-width: 750px) {
	.ag-header-cell-text {
		font-size: 9px;
	}

	.ag-cell-value {
		font-size: 8px;
	}

	#home {
		font-size: 10px;
	}

	#logo {
		margin-top: 2px;
		width: 173px;
		height: 37px;
	}
	.textoLogo {
		margin-left: 2px;
		font-size: 8px;
	}

	.titulo {
		font-weight: 500 !important;
		margin-top: 20px;
		color: #f3f4f5;
		font-family: var(--fuente-principal);
		font-size: 16px;
		text-shadow: 2px 2px 2px rgb(10, 2, 2);
	}
}

@media screen and (max-width: 576px) {
	.ag-header-cell-text {
		font-size: 9px;
	}

	.ag-cell-value {
		font-size: 5px;
	}

	#home {
		font-size: 8px;
	}

	#logo {
		margin-top: 2px;
		width: 173px;
		height: 37px;
	}
	.textoLogo {
		margin-left: 2px;
		font-size: 8px;
	}

	.titulo {
		font-weight: 400 !important;
		margin-top: 20px;
		color: #f3f4f5;
		font-family: var(--fuente-principal);
		font-size: 12px;
		text-shadow: 2px 2px 2px rgb(10, 2, 2);
	}
}
// #endregion
/******** END @media screen *****************/

// #region AG Grid
.ag-header-group-cell {
	font-size: 20px;
	color: red;
}

.ag-header-cell {
	width: 20px;
	// transform: rotate(90deg);
	// margin-top: 10px;
	/*Since we are rotating a span*/
	display: inline-block;
}

// Sobreescribe lo definido en  /node_modules\ag-grid-community\src\styles\ag-grid.scss :365
// .ag-header-cell-label {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   color: green;
//   font-family: Arial;
//   font-size: 14px;
//   font-weight: bold;
//   /*Necessary to allow for text to grow vertically*/
//   height: 100%;
//   padding:0 !important;
// }

.ag-header-cell-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: green;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
}

.ag-cell-label-container {
	/*Necessary to allow for text to grow vertically*/
	height: 100%;
}

.ag-pivot-off {
	color: #8a6d3b;
}

.ag-pivot-on {
	color: #1b6d85;
	font-weight: bold;
}

.ag-pivot-off {
	font-size: 50px;
	color: red;
}

.ag-pivot-on {
	font-size: 25px;
	color: green;
}
.ag-floating-filter-body input {
	height: 49px;
}

.ag-floating-filter-button {
	margin-top: -49px;
}

.ag-floating-filter-button button {
	height: 49px;
}

.ag-floating-filter-body input {
	font-size: 15px;
	font-weight: bold;
}

.ag-row-group-leaf-indent > .ag-group-value {
	text-align-last: right;
	width: 100%;
}

.ag-cell-value {
	// overflow: hidden;
	text-overflow: ellipsis;
	color: black;
}
// #endregion
/******** END ag-grid *****************/
