<footer class="footer">
	<div class="row">
		<div class="col-1"></div>

		<div class="col-3 d-flex justify-content-start">
			<p id="textoFooter">
				<img
					src="https://mamjerez.fra1.digitaloceanspaces.com/Icono%20OCM.png"
					width="30"
					height="30"
					alt="logo"
					class="align-bottom"
				/>
				<span>© </span>
				<span>2021 OCM Jerez. Ver 1.1.0</span>
			</p>
		</div>

		<!-- <div class="col-4 d-flex align-items-center justify-content-center">
      <a href="https://www.facebook.com/OcmJerez/" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
      <a href="https://twitter.com/ocmjerez" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
    </div> -->

		<!-- <div class="col-3 d-flex justify-content-right">
    <p id="textoFooter">
        <span>Email: </span>
        <span>
          <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
        </span>
      </p>
      </div>
      <div class="col-1"></div> -->
	</div>
</footer>
